.fixed-location{
    position: fixed;
    z-index: 1;
    left: 60px;
    writing-mode: vertical-rl;
    bottom: 60px;
    transform: rotate(180deg);
}
.fixed-location a{
    text-decoration: none;
    font-family: ubuntu-regular;
    font-size: 16px;
    transition: 0.5s;
    color: #4D4D4D;
}
.fixed-location a:hover{
    color: #FCB64E;
}
.navigation.active .fixed-location a{
    color: white;
}
.navigation.active .fixed-location a:hover{
    color: #FCB64E;
}
